.visualizer{
  display: flex;
  flex-direction: row;
  margin: 3rem;
  height: 40vh;
}

.search-bar {
  margin: 3rem;
}

.buy{
  height: 90vh;
  justify-content: space-between;
  align-content: space-between;
}

.cell{
  border: 5px solid black
}

.cell-header{
  border-bottom: 3px solid black;
  text-align: center;
}

.subheader{
  display: flex;
  flex-direction: column;
}