.visualizer {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  height: 40vh;
}

.search-bar {
  margin: 1rem;
}

.buy {
  height: 90vh;
  justify-content: space-between;
  align-content: space-between;
}

.cell {
  border: 5px solid black;
}

.cell-header {
  border-bottom: 3px solid black;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.subheader {
  display: flex;
  flex-direction: column;
}

.buy-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
}

.image-cell {
  justify-content: center;
}

.narrow-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.overflow-scroll {
  overflow: scroll;
  max-height: 20vh;
}

.over-x {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.selector {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-between;
}

.footer-row {
  background: rgba(0, 0, 0, 0.25);
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider-cards {
  margin: 1.5rem;
}

.long-body {
  overflow-y: scroll;
}

.condition-selection {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grade-img {
  width: -webkit-fill-available;
  padding-top: 1.5rem;
}

.dan-schneider {
  display: flex;
  flex: row;
  justify-content: space-around;
}

.circle-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}

.bulk-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.gutters {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.login-screen {
  height: 110vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: -10px;
}

.login-form {
  display: flex;
  flex-direction: row;
}

.big-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  align-content: space-around;
  justify-content: space-around;
}

/* Tile style buttons */

.sok-tile-row {
  font-family: Arial;
  overflow: hidden;
  background-color: #6e6e6e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sok-tile {
  text-align: center;
  display: inline-block;
  font-size: 50px;
  color: white;
  background-color: #6e6e6e;
  width: 150px;
  height: 150px;
  line-height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.sok-tile-name {
  text-align: left;
  font-size: 13px;
  line-height: 13px;
  padding: 10px;
  background-color: #000000;
  height: 30px;
  width: 130px;
  position: relative;
  top: -50px;
}

.sok-tile:hover .sok-tile-name {
  height: 130px;
  position: relative;
  top: -150px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}
